body{
    background-color: blanchedalmond;
    margin: 0;
    font-family: 'Staatliches', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
header{
    background-color: rgb(152, 165, 153);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: antiquewhite;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px; 
}
header button{
    background-color: gold;
    color: rgb(115, 115, 128);
    padding: 10px 20px;
    border-radius: 20px;
    border: #fff solid 2px;

}
header button:hover{
    background-color: blueviolet;
}
main button{
    color: dimgray;
}
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
.first {
    
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 100px 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.219)), url(maxresdefault-14.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.second {
    background-color: rgb(101, 248, 64);
    text-align: center;

}
.skills {
    display: flex;
    justify-content: space-around;
}

.fly {
    animation: move;
    animation-duration: 8s;
}


 @media (max-width: 500px) {
    img {
        max-width: 100%;
    }
    .skills {
   flex-wrap: wrap;     
    }
    .skills div {
        width: 100%;
    }
}
@keyframes move {
    0% {
        transform: scale(1);
    }
    50% {
    transform: scale(1.3) translate(300px, -100px) rotate(45deg);
    }
    100% {
transform:  scale(1) translate(0) rotate(0);
    }
}




    
